form {
  width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 10px 30px 5px 30px;
  border: 5px solid #022E32;

  background: #F9C35F;
  background: url(checkeredpattern.png), -webkit-linear-gradient(#F9C35F, #A5C77F) no-repeat;
  
  -webkit-border-radius: 10px;
  
  -webkit-box-shadow: inset 0px 1px 1px rgba(255,255,255,1), 0px 10px 15px rgba(0,0,0,.5);
}

.group:before{ 
  content: "\0020"; 
  display:block; 
  height: 0; 
  overflow:hidden; 
}

.group:after { 
  clear: both; 
}

.group { 
  zoom: 1; 
}

select {
  background: #022E32;
  border-radius: 4px;
  width: 150px;
  height: 30px;
  color: #FFC861;
  padding: 5px;
  outline: solid transparent;
}

option {
  background: #022E32;
  color: #FFC861;
  padding: 5px;
  text-align: center;
}

ol li input[type="text"]{
  margin-top: 10px;
  margin-left:162px;
  margin-bottom: 10px;
  width: 200px;
  height: 25px;
  font:14px "Lucida Grande", Lucida, Verdana, sans-serif;
  color: #FFC861;
  -webkit-border-radius: 5px;
  outline: solid transparent;
  background:#022E32;
    
}

body {
  height: 500px;
  background: #42826C;
  background: #42826C -webkit-linear-gradient(#002F32,#42826C) no-repeat;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
.nav{
  margin-top: 50px;  
}
.nav ul{
  display: block; 
  width: 600px;
  margin:0 auto;
  margin-left:150px;
}
.listItem{
  list-style: none;
  display: inline-block;
  padding: 5px 10px;
  color: #FFF;
  font: bold 14px "Lucida Grande", Lucida, Verdana, sans-serif;
  background: #93481A;

  -webkit-border-radius:10px 10px 0 0;
  cursor: pointer;
  zoom: 1;

  -webkit-box-shadow:inset 0 -3px 4px #6E3614;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
