.App {
  text-align: left; 

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #5D514E;
  padding: 20px;
  
}

.App-intro {
  font-size: large;
  color:gray;


}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.App-head {
  padding-bottom: 0px;
  text-align: center;
  color:black;
  background-color: #8C7E7A ;
  font-size: xx-large;
}
.test{
 
  background-color:#C8C5C4;
  margin:5px;
  padding:10px ;
  border:2px solid black;
  border-radius: 40px;
  width: 500px;
  font-size: 20px;
  position: relative; left:300px; bottom:950px;
}
button  {
  background-color:#9C9897;
  color:#3E0E04  ;
  height:50px;
  width:150px;
  border-radius: 10px;
  display: block;
  font-size: 15px;
  padding: 
}
 .but{
  position: absolute;
  left: 400px; top:280px;
  background-color: #816A51  ;
  color:black;
  height:30px; 
  width:350px;
}
input{
  position: absolute; 
  left:350px;
  height:30px ;
  width:450px;
  border-radius:10px; 
  border:2px solid black;
}
