.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: salmon;
  height: 150px;
  padding: 20px;
  color: black;
}

.App-intro {
  font-size:medium;
}

.list{
  font-family: sans-serif;
}
.list:nth-child(5n)
{
  color: teal;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
